<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IA Evaluación de Nodos</title>
    <link rel="stylesheet" href="../../assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../assets/css/custom.css" />
  </head>
  <body>
    <div class="container-fluid">
      <div class="row text-center">
        <h2 class="gral-title">Evaluación de Nodos en Árboles de Decisión</h2>
      </div>

      <div class="row">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="tab" href="#home">Carga de datos (Raíz)</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#variable">Carga de datos (Variables)</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#execution">Ejecución</a>
          </li>
        </ul>

        <div id="myTabContent" class="tab-content">

          <div class="tab-pane fade tabCustom active show" id="home">
            <div class="row">
              <div class="mb-3 col-lg-6">
                <label class="form-label">Ingresa el nombre de la raíz</label>
                <input type="text" class="form-control form-control-sm" id="rootName" />
              </div>
              <div class="col-lg-3">
                <label class="form-label">Cantidad de valores a ingresar</label>
                <input type="number" class="form-control form-control-sm" id="quantity"/>
              </div>
              <div class="col-lg-3 btn-accept">
                <button type="button" class="btn btn-success btn-sm" onclick=saveRoot()>Aceptar</button>
                <button type="button" class="btn btn-warning btn-sm" onclick=rebootRoot()>Reiniciar</button>
              </div>
            </div>

            <div class="row" id="divValues">
              <div class="col-lg-4">
                <div class="input-group mb-3">
                  <input type="text" class="form-control form-control-sm" id="valueRoot" placeholder="Valor N° 1" />
                  <button class="btn btn-success btn-sm" type="button" onclick=addValueRoot()>Agregar</button>
                </div>
              </div>
              <div class="col-lg-8">
                <label class="form-label">Valores cargados:</label>
                <div id="divLoades">
                </div>
              </div>
            </div>

          </div>

          <div class="tab-pane fade tabCustom" id="variable">
            <div class="row">
              <div class="mb-3 col-lg-6">
                <label for="rootName" class="form-label">Ingresa el nombre de la variable</label>
                <input type="text" class="form-control form-control-sm" id="" />
              </div>
              <div class="col-lg-3">
                <label for="rootName" class="form-label">Cantidad de valores a ingresar</label>
                <input type="number" class="form-control form-control-sm" />
              </div>
              <div class="col-lg-3 btn-accept">
                <button type="button" class="btn btn-success btn-sm">Aceptar</button>
                <button type="button" class="btn btn-warning btn-sm">Reiniciar</button>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-4">
                <div class="input-group mb-3">
                  <input type="text" class="form-control form-control-sm" placeholder="Valor N° 5" />
                  <button class="btn btn-success btn-sm" type="button">Agregar</button>
                </div>
              </div>
              <div class="col-lg-8">
                <label for="rootName" class="form-label">Valores cargados:</label>
                <div class="">
                  <span class="badge rounded-pill bg-info">SI</span>
                  <span class="badge rounded-pill bg-info">NO</span>
                  <span class="badge rounded-pill bg-info">SI</span>
                  <span class="badge rounded-pill bg-info">SI</span>
                </div>
              </div>
            </div>
          </div>

          <div class="tab-pane fade tabCustom" id="execution">
            <div class="row">
              <div class="col-3">
                <h4 class="sub-title text-center">Panel de control</h4>
                <button type="button" class="btn btn-success btn-sm">Nodo a nodo</button>
                <button type="button" class="btn btn-info btn-sm">Ejecución completa</button>
              </div>

              <div class="col-9">
                <h4 class="sub-title text-center">Arból de decisión resultante</h4>
                <div class="row">
                  <div class="tree">
                    <ul>
                      <li>
                        <a href="#">Parent</a>
                        <ul>
                          <li>
                            <a href="#">Child 1</a>
                            <ul>
                              <li>
                                <a href="#">Grand Child</a>
                              </li>
                            </ul>
                          </li>
                          <li>
                            <a href="#">Child 2</a>
                            <ul>
                              <li><a href="#">Grand Child</a></li>
                              <li>
                                <a href="#">Grand Child</a>
                                <ul>
                                  <li>
                                    <a href="#">Great Grand Child</a>
                                  </li>
                                  <li>
                                    <a href="#">Great Grand Child</a>
                                  </li>
                                </ul>
                              </li>
                              <li><a href="#">Grand Child</a></li>
                            </ul>
                          </li>
                          <li>
                            <a href="#">Child 3</a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </body>
  <script src="../main.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</html>
